.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore general files and directories
.DS_Store
.idea/
.vscode/

# Ignore build artifacts
/bin/
/build/
/dist/

# Ignore dependencies
/node_modules/
/yarn.lock

# Ignore editor-specific files
*.swp
*.swo
*.bak
*.tmp
*.log
*.vs
